$background: #e5e5e5;
$main-font-color: #000000;
$header-bgc: #3ca89a;
$gif-bg: #f1f1f1;
$btn-color: #43b9aa;
$pure-white: #ffffff;
$line-color: #4a4a4a;
$image-bg: #c4c4c4;
$counting-box-background: #d4fffa;
