@import './colors';

.algorithm {
	padding: 100px 0 25px 0;
	&__header {
		font-size: 4rem;
		font-weight: 700;
	}
	&__description {
		padding: 40px 0;
		font-size: 2.5rem;
		font-weight: 500;
	}
    &__animation-container{
        display: flex;
		justify-content: space-between;
        width: 100%;
    }
    &__animation-box{
		display: flex;
        width: 60%;
    }
    &__btn-container{
        width: 40%;
    }
}
