@import './colors';

.algorithm {
	padding: 100px 0 25px 0;
	&__header {
		font-size: 4rem;
		font-weight: 700;
	}
	&__description {
		padding: 40px 0;
		font-size: 2.5rem;
		font-weight: 500;
	}
	&__animation-container {
		margin-bottom: 55px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__animation-box {
		padding: 80px 40px;
		display: flex;
		flex-direction: column;
		width: 80%;
		border: 7px solid $main-font-color;
		border-radius: 20px;
		background-color: $counting-box-background;
	}
	&__animation-values {
		display: flex;
		justify-content: space-between;
	}
	&__animation-text {
		font-size: 2rem;
		text-align: center;
	}
	&__aniamtion-paragraph {
		margin-top: 55px;
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
	}
	&__btn-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 20%;
	}
	&__btn {
		margin-bottom: 5px;
		padding: 10px 40px;
		width: 213px;
		height: 52px;
		font-size: 2.2rem;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		border-radius: 90px;
		&--start {
			color: $main-font-color;
			border: 6px solid $btn-color;
		}
		&--stop {
			color: $stop-button-color;
			border: 6px solid $stop-button-color;
		}
	}
	&__result-box {
		width: 213px;
		height: 253px;
		border: 6px solid $main-font-color;
		border-radius: 30px;
	}
	&__coding-box-title {
		margin-bottom: 20px;
		font-size: 3rem;
		font-weight: 700;
	}
	&__coding-box-container {
		display: flex;
	}
	&__coding-box {
		margin-right: 90px;
		padding: 40px 60px;
		background-color: $counting-box-background;
		border: 7px solid $main-font-color;
		border-radius: 20px;
	}
	&__coding-box-paragraph{
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 32px;
	}
}
