@import './colors';
@import './components';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
}
.navbar {
	height: 60px;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		font-weight: 700;
	}
	&__logo-name {
		font-size: 4rem;
		text-decoration: none;
		color: $mainFontColor;
	}

	&__list-container {
		width: 60%;
		font-size: 2rem;
	}
	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
	}

	&__list-link {
		padding: 0 2em;
		text-decoration: none;
		color: $mainFontColor;
		transition: color 0.3s;
	}
	&__list-link:hover {
		color: $headerBgc;
	}

	&__list-item:hover .navbar__dropdown {
		display: block;
	}
	&__dropdown {
		display: none;
		position: absolute;
		transition: display 0.3s;
		text-align: center;
		line-height: 65px;
	}
	&__dropdown-item {
		list-style: none;
	}
	&__dropdown-link {
		text-decoration: none;
		color: $mainFontColor;
		transition: color 0.3s;
	}
	&__dropdown-link:hover {
		color: $headerBgc;
	}
	&__btn {
		padding: 0.5em 2em;
		font-size: 2rem;
		font-weight: 700;
		color: $pureWhite;
		text-decoration: none;
		background-color: $btnColor;
		border: none;
		border-radius: 90px;
	}
}
