@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	background-color: $background;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.navbar {
	height: 60px;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		font-weight: 700;
	}
	&__list-container {
		width: 60%;
		font-size: 2rem;
	}
	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
	}

	&__list-link {
		padding: 0 40px;
		text-decoration: none;
		color: $main-font-color;
		transition: color 0.3s;
	}
	&__list-link:hover {
		color: $header-bgc;
	}
	&__btn {
		padding: 10px 40px;
		font-size: 2rem;
		font-weight: 700;
		color: $pure-white;
		text-decoration: none;
		background-color: $btn-color;
		border: none;
		border-radius: 90px;
	}
}
